@model IEnumerable<Project.ENTİTİES.Models.AdvancePayment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;



        document.body.innerHTML = printContents;



        window.print();



        document.body.innerHTML = originalContents;



    }
</script>

<div>
    <div class="card-header">
        <h2>Avanslar</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered" id="example-table">
            <thead>
                <tr>
                    <th>Personel Adı-Soyadı</th>
                    <th>TC Kimlik No</th>
                    <th>Avans Miktarı</th>
                    <th>Avans Türü</th>
                    <th>oluşturma Tarihi</th>
                    <th>Toplam Süre</th>
                    <th> Durumu </th>
                    <th><i class=" icon-edit"></i> Düzenleme</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var avans in Model)
                {
                    <tr>

                        <td>@avans.Employee.FirstName @avans.Employee.LastName  </td>
                        <td>@avans.Employee.TCKNo</td>
                        <td>@avans.Amount</td>
                        <td>@avans.AdvancePaymentType</td>
                        <td>@avans.CreatedDate</td>
                        <td>@avans.Description</td>
                        <td>@avans.State</td>
                        <td>

                            @Html.ActionLink("Düzenle", "Edit", new { id = avans.ID }) |
                            @Html.ActionLink("Detaylar", "Details", new { id =avans.ID }) |
                            @Html.ActionLink("Sil", "Delete", new { id = avans.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" onclick="printDiv('printMe')" style="margin-right">
            Yazdır
        </button>
    </div>
    <h3>
        @Html.ActionLink("Yeni Avans Ekle", "Create")
    </h3>

</div>
