
@model IEnumerable<Project.ENTİTİES.Models.EmployeeCard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;



        document.body.innerHTML = printContents;



        window.print();



        document.body.innerHTML = originalContents;



    }
</script>

<div class="card">
    <div class="card-header">
        <h2>Çalışan Kartları</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered" id="example-table">
            <thead>
                <tr>
                    <th>Personel Adı-Soyadı</th>
                    <th>TC Kimlik No</th>
                    <th>Seri No</th>
                    <th>Doğum Tarihi</th>
                    <th>Doğum Yeri</th>
                    <th>Kan Grubu</th>
                    <th>Baba Adı</th>
                    <th>Anne Adı</th>
                    <th>Medeni Hali</th>
                    <th><i class=" icon-edit"></i> Düzenleme</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var kart in Model)
                {
                    <tr>
                        <td>@kart.FirstName @kart.LastName  </td>
                        <td>@kart.TCKNo</td>
                        <td>@kart.SerialNo</td>
                        <td>@kart.IssueDate</td>
                        <td>@kart.IssuePlace</td>
                        <td>@kart.BloodGroup</td>
                        <td>@kart.FatherName</td>
                        <td>@kart.MotherName</td>
                        <td>@kart.MaritalStatus</td>

                        <td>

                            @Html.ActionLink("Düzenle", "Edit", new { id = kart.ID }) |
                            @Html.ActionLink("Detaylar", "Details", new { id = kart.ID }) |
                            @Html.ActionLink("Sil", "Delete", new { id = kart.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" onclick="printDiv('printMe')" style="margin-right">
            Kartı Yazdır
        </button>

    </div>
    <h3 class="text-capitalize">
        @Html.ActionLink("Yeni Kart Ekle", "Create")
    </h3>
</div>



